.calendar {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid #eeeeee;
  padding: 20px 5px;
}

.calendar-header {
  display: flex;
  padding: 15px 0;
  align-items: center;
}

.caret {
  border: none;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  transition: 0.3s ease-in;
}

.caret:hover {
  cursor: pointer;
  font-weight: bolder;
  transition: 0.3s ease-in;
}

.left {
  margin-left: 20px;
}

.right {
  margin-right: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
}

.table-header > tr {
  font-size: 15px;
  padding-bottom: 5px;
}

.month-year {
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s ease-in;
    flex-grow: 3;
    text-align: center;
}

.month-year:hover {
    background-color: var(--disabled);
    cursor: pointer;
    transition: 0.2s ease-in;
    padding: 0 10px;
}

.table-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
}

.table-body > tr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px 0;
}

.table-item:hover {
  cursor: pointer;
}

.disabled:hover {
  cursor: none;
}

.table-item {
  width: 30px;
  height: 20px;
  text-align: center;
  
  cursor: pointer;
}

.selected {
  border-radius: 50%;
  background-color: var(--selected);
  color: #ffffff;
  vertical-align: middle;
}

.today {
    color: var(--selected)
}

.calendar-months {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.calendar-months > tr {
  display: flex;
  justify-content: center;
  margin: 15px 10px;
}